

.pixel {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

#pixel-board {
    margin-left: 120px;
    width: 210px;
    line-height: 0px;
    word-spacing: 0px;
    
}

#color-palette .black{
background-color: black;
border: 1px solid black;
display: inline-block;
width: 100px;
height: 100px;
margin: 20 20 20 20 ;
}
#color-palette .red{
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20 20 20 20 ;
    }
    #color-palette .blue{
        background-color: blue;
        border: 1px solid black;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 20 20 20 20 ;
        }
        #color-palette .green{
            background-color: green;
            border: 1px solid black;
            display: inline-block;
            width: 100px;
            height: 100px;
            margin: 20 20 20 20 ;
            }

            .color.red.pixel {
                background-color: red;
            }
            .color.blue.pixel {
                background-color: blue;
            }
            .color.black.pixel {
                background-color: black;
            }
            .color.green.pixel {
                background-color: green;
            }

            .pixel.color {
                background-color: white;

            }